/*Start Variables.*/
:root {
    --main-color:#3957ff;  /*to make color variable and use it every where style*/
    --secondary-color:#2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6; 
    --main-duration : 0.6s ease-in-out;
}
/* End Variables. */
/*Start Global Rules.*/

body {
    font-family: 'Work Sans', sans-serif;
}

/*.End Global Rules.*/
/* ÙStart Components*/
.special-paragrah{
    font-size: 20px;
    margin-left: 50px;
    position: relative;
    color: var(--main-color);
    text-transform: uppercase ;
}
.special-paragrah::before {
    content: "";
    width: 45px;
    height: 1px;
    left: -50px;
    top: 13px;
    position: absolute;
    border: 1px solid var(--main-color);
}
/*End Components*/
/*start uper bar*/

.upper-bar span {
    color: var(--main-color);
}
.upper-bar .get-quote {
    display: inline-block;
    border:1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 20px;
}
/* Start Upper Bar */

.upper-bar {
    background-color: #08526d;
    color: #fff;
    transition: var(--main-duration);
    -webkit-transition:var(--main-duration);
    -moz-transition:var(--main-duration);
    -ms-transition:var(--main-duration);
    -o-transition:var(--main-duration);
    
  }
  
  .upper-bar .info {
    margin: 15px 0
  }
  
  @media (max-width: 576px) {
    .upper-bar .info:first-child {
      margin-bottom: 0
    }
  }
  
  .upper-bar span {
    color: #bfc6c9;
  }
  
  .upper-bar .get-quote {
    display: inline-block;
    border: 1px solid var(--main-color);
    padding: 2px 10px;
    margin-left: 20px;
  }
  
  @media (max-width: 576px) {
    .upper-bar .get-quote {
      border: none;
      margin-left: 5px
    }
  }
  
  /* End Upper Bar */
/*Start Navbar*/
.navbar {
    padding: 18px;
    transition: var(--main-duration);
    -webkit-transition:var(--main-duration);
    -moz-transition:var(--main-duration);
    -ms-transition:var(--main-duration);
    -o-transition:var(--main-duration);
}

.navbar .collapse .navbar-nav .nav-item button {
    background-color:var(--main-color);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #08526d;
}
.navbar-nav .active > .nav-link {
    color: var(--main-color) !important;
}
@media (min-width: 992px) {
    .navbar .collapse .navbar-nav .nav-item {
     margin-left: 40px;
    
    }
}
/*End Navbar*/
/*Start Landing  slider Section*/
.slider .carousel-item {
    
    background-size: cover;
    -webkit-border-background-size:cover;
    -moz-border-background-size:cover;
    -ms-border-background-size:cover;
    -o-border-background-size:cover;
    
}
.slider .carousel-one {
    background-image: url(../img/im3.jpg);
}
.slider .carousel-two {
    background-image: url(../img/im1.png);
}
.slider .carousel-there {
    background-image: url(../img/im6.png);
}
.slider .carousel-indicators button {
    height: 8px;
    cursor: pointer !important;
}
.slider {
    position: relative;

}
.slider .carousel-inner .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 15%;

}
.slider .carousel-inner .layer p:first-of-type{
    margin-top: 30px;
    margin-bottom: 3px;
}
.slider .carousel-inner .layer h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}
.slider .carousel-inner .layer p {
    font-size: 19px;
    
    
}

.slider .carousel-inner .layer button {
    margin-top: 25px;
    background-color: #202042;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}


@media (max-width: 767px){
    .carousel-indicators {
        display: none !important;
    }
}
/*End Landing Section*/
/*Start Practicing Area*/
.practicing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
/*End Practicing Area*/
.practicing .area {
    padding: 45px;
    border: 1px solid #DDD;
    margin-bottom: 10px;
}
.practicing h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: -1px
}
.practicing .area i{
    margin-bottom: 35px;
    color: var(--main-color);
}
.practicing .area h2{
    font-size: 22px;
    margin-bottom: 20px;
}
.practicing .area p{
    font-size: 17px;
    margin-bottom: 20px;
}
.practicing .area a {
    text-decoration: none;
    color: #2c4755;
}
/*End Practicing Area*/
/*Start about Section*/
.about {
    padding-top: var(--section-padding);
    
}
.about .image {
    height: 100%;
}
.about .image img {
    width: 100%;
    height: 100%;
}
.about .row {
    background-image: url(../img/im15.png);
    background-size: cover;
    color: white;
}
.about .row .nopad {
    padding: 0px;
}
.about .info{
    padding: 40px;
}
.about .info p {
    color: white;
    margin-top: 30px;
}
.about .special-paragrah::before {
    border: 1px solid white;
}
.about .info p:last-of-type{
    font-weight: 200;
}
.about .info button{
    margin-top: 20px;
    background-color: #202042;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
/*mobil small mobile and tablet*/
@media (max-width: 767px) {
    
    .about {
        width: 94%;
        margin: 0 auto;
    }
    .about h1{
        font-size: 27px;
    }
    .about .info button{
        margin-left: 17%;
    }
    /*end about*/
    

}
/*End About Section*/
/* Start Form*/
.form {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #efefef;
}
.form .form-box {
    background-image: url(../img/im15.png);
    background-size: cover;
    margin: 0 auto;
    width: 70%;
    padding: 4%;
    padding-left: 7%;
    padding-right: 7%;
}
.form .form-box p {
    color: white;
    margin-top: 10px;
}
.form .form-box p::before {
    border: 1px solid white;
}
.form .form-box h1 {
    margin-bottom: 40px;
    color: white;
}

.form form input,
.form form textarea {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    color:#757575;
}
.form form input[type="submit"] {
    background-color:#202042;
    color: white;
}
@media (max-width: 767px) {
    .form .form-box {
        width: 95%;
        padding-top: 9%;
        padding-bottom: 9%;
    }
    .form form input, 
    .form form textarea {
        padding: 6px;
        margin-bottom: 12px
    }
    .form form textarea {
        height: 90px;
    }
    .form .form-box h1 {
        font-size: 27px;
    }
    .form .form-box p {
        font-size: 15px;
        letter-spacing: -1px;
        margin-top: 21px;
    }

    }

/*End Form*/
/*Start Recent Work Section*/
.recent-work {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.recent-work ul li {
    display:inline-flex;
    margin-left: 15px;
    color: #b3b6bc;
    cursor: pointer;
}
.recent-work .head {    
    align-items: flex-end !important; 
    justify-content: space-between;
}
.recent-work .selection .card{
    margin-bottom: 150px;
}
.recent-work .selection .card .cont{
    
    position: relative;
}
.recent-work .selection .card .cont .info {
    position: absolute;
    background-color: #f3f3f3;
    width: 80%;
    min-height: 37%;
    bottom: -80px;
    left: 0;
    padding: 23px;
}
.recent-work .selection .card .info p{
    letter-spacing: -1px;
    margin-bottom: 10;
    font-size: 16px;
    text-transform: capitalize;
}
.recent-work .selection .card .info p::before {
    width: 35px;
}
.recent-work .selection .card .info h2 {
    font-size: 21px;
}
.recent-work .container .active {
    display: block;
}
.recent-work .container .hidden {
    display: none;
}
.active-li {
    color: var(--main-color);
}
/*End Recent Work Section*/
/* Start Contact us */

.contact-us {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
    padding: 100px 0;
    background-image: url(../img/im15.png);
    background-size: cover;
    color: #FFF;
    font-size: 22px
  }
  
  .contact-us h1 {
    margin: 0
  }
  .contact-us .text-md-right{
    padding: 28px;
  }
  
  @media (max-width: 768px) {
      .contact-us h1 {
        margin-bottom: 30px;
      }
  }
  
  .contact-us a {
    color: #FFF;
    border: 2px solid #FFF;
    padding: 6px 15px 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none
  }
  
  /* End Contact us */


/*Start member Section*/
.member {
    padding: var(--section-padding);
}
.member h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: -1px;
    /*font-size: 50px;
    font-weight: bold;*/
    
}
.member .card {
    margin-bottom: 20px;
}
.member .card-title {
    font-size: 20px;
    font-weight: bold;
}
.member .card-text {
    font-size: 13px;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.member .card-body{
    padding-left: 40px;
    background-color: #efefef;
}
/*End member Section*/
/*Start testimonials Section*/

.testimonials {
    background-image: url(../img/im11.png);
    background-size: cover;
    -webkit-border-background-size:cover;
    -moz-border-background-size:cover;
    -ms-border-background-size:cover;
    -o-border-background-size:cover;
    height: 442px;
    position: relative;
    
}
.testimonials .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.testimonials .container 
{
    z-index: 5;
    position: relative;
}
.testimonials .carousel-caption {
    top: 30%;
    margin-top: -173px;

}

.testimonials .carousel-caption h2 {
    display: inline-block;
}
.testimonials .carousel-caption span {
    display: block;
}
.testimonials .carousel-caption p {
    margin-top: 20px;
    margin-bottom: 60px;
    letter-spacing: -1;
}
.testimonials .carousel-edit {
    z-index: 6;
}
.testimonials .carousel-edit span{
    border: 1px solid;
    border-radius: 16%;
    padding: 21px;
   
}
.testimonials .carousel-indicators button {
    height: 8px;
    cursor: pointer;
}
.testimonials .carousel-indicators {
    bottom: 10px;
}
.carousel-control-prev, .carousel-control-next {
    top: -30%;
}
@media (max-width: 767px) {
.testimonials .carousel-caption p {
    margin-top: 5px; 
    margin-bottom: 0;
    font-size: 18px;
}
.testimonials .carousel-caption {
    top: 31%;
    

}
.carousel-control-prev, .carousel-control-next{
    top: -25%;
}

}
@media (min-width: 768px) and (max-width: 991px) {
    .testimonials .carousel-caption {
        top: 30%;
    }
    .testimonials .carousel-caption p {
        margin-bottom: 9%;
    }
    .carousel-control-prev, .carousel-control-next {
        top: -25%;
    }
}

/*End testimonials Section*/
  /*Start Article*/
  .article {
      padding-top: var(--section-padding);
      padding-bottom: var(--section-padding);
  }
  .article .card-title {
      font-weight: bold;
  }
  .article .card-text {
    margin: 20px 0;
    font-weight: 300;

  }
  .article .card-body .special-paragrah {
    font-size: 16px;
    text-transform: capitalize;
  }
  .article .card-body .special-paragrah::before {
    width: 34px;
    left: -46px;
    top: 12px;
 }
 .article .card > div{
     position: relative;
 }
 .article .card > div .head {
     position: absolute;
     bottom: 0;
     background-color: ghostwhite;
    padding: 15px;
    width: 70%;
    padding-left: 58px;
    min-height: 13%;
    font-weight: 300;
 }

@media (max-width: 767px) {
    
    /*.article .card .head {
        top: 42%;
    }
    */

}
/*small Screens*/
@media (min-width: 768px) and (max-width: 991px) {
   /* .article .card .head {
        top: 37%;
    }
    */
}
/*medium screens*/
@media (min-width: 992px) and (max-width: 1199px){
   /* .article .card .head {
        top: 49%;
    }
    */
}



  /*End Article*/
  /* Start Footer */

footer {
    padding: 100px 0;
    background-image: url(../img/im14.jpg);
    background-size: cover;
    position: relative;
    padding-bottom: 0;
  }
  footer .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, -1) !important;
    z-index: 1;
}
footer .container 
{
    color: white;
    z-index: 5;
    position: relative;
}
  footer .site-contact img {
    
    margin-bottom: 35px;
  }
  footer .site-contact {
    margin-bottom: 50px;
  }
footer .site-contact p {
    line-height: 1.8;
   /* color: #727272*/
  }
  footer .site-contact h2 > span{
      color: var(--main-color);
  }
  
  footer .site-contact a {
    
    font-size: 15px;
    font-weight: bold;
  }
  
  footer .site-contact a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f138";
    display: inline-block;
    margin-right: 5px;
    color: var(--main-color);
  }
  
  footer .our-support h2,
  footer .quick-link h2,
  footer .subscribe h2 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  footer .subscribe p {
    margin-bottom: 40px;
  }
  footer .quick-link ul li a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f138";
    display: inline-block;
    margin-right: 5px;
    color: var(--main-color);
    font-size: 12px;
    position: relative;
    top: -1px;
  }
  footer .quick-link ul li a {
      text-decoration: none;
  }
  footer .our-support ul li,
  footer .quick-link ul li {
    margin-bottom: 15px;
  }

footer .subscribe .input-te {
    padding-right:0 !important;
    padding-left: 0 !important;
    
}
footer .subscribe .input-te button {
    padding: 6px;
    border-radius: 0;
    min-width: 130px;
}
@media (max-width:575px) {
    footer .subscribe .input-te button {
        margin-left: 29%;
        width: 170px;
        margin-top: 20px;
    }
    .form-control {
        margin: 0 auto;
        width: 80%;
    }

    
}
footer .subscribe .input-te input {
    border-radius: 0;
}
footer a  {
    color: white;
}
  /* Start Copyright */
footer .row:first-of-type {
    margin-bottom: 50px;
}
.copyright {
    border-top: 1px solid #c0c0c0;
    padding: 20px;
  }
  
  .copyright ul {
    margin: 0
  }
  
  .copyright ul li {
    display: inline-block;
  }
  
  .copyright ul li a {
    color: #777;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
  }
  @media (max-width:767px) {
    .copyright ul li {
        margin-bottom: 25px;
    }
  }
  /* End Copyright */
  
  @media (max-width: 992px) {
   
    footer .quick-link h2,
    footer .our-support h2 {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  

  /* End Footer */
/*loading screen*/
.load_overlay{
    background: rgb(49 61 74);;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.sk-cube-grid {
  width: 70px;
  height: 70px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #FFF;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/*end loading screen*/

/*start scroll up style*/
/* Start Scrollup */
.nicescroll-cursors {
    width: 10px !important;
}
#scroll-top {
   
   
    text-align:center;
    position:fixed;
    right: 15px;
    bottom: 15px;
    z-index:9999;
    display:none;
    cursor:pointer
}
#scroll-top i {
    background-color: var(--main-color);
    color: white;
    padding: 17px;
    border-radius: 50%;
}
/*end scroll up style*/












  



/*Screens*/
/*mobil small mobile and tablet*/
@media (max-width: 767px) {
    
    .slider .carousel-inner .layer h1 {
        font-size: 30px;
        font-weight: bold;
        
    }
    .slider .carousel-inner .layer p {
        font-size: 16px;
        width: 90%;
        
    }
    .slider .carousel-inner .layer button {
        margin-left: 20%;
    }
    

}
/*small Screens*/
@media (min-width: 768px) and (max-width: 991px) {
    /*about */
    
    /*end about*/
}
/*medium screens*/
@media (min-width: 992px) and (max-width: 1199px){
    
}
/*large Screen*/
@media (min-width: 1200px) {
    
}